<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас - Блог Калининград</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body class="bg-dark text-light">
    <div class="container">
        <h1 class="mt-5">О нас</h1>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'home' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'post_list' %}">Посты</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'about' %}">О нас</a></li>
            </ul>
        </nav>
 <h2 class="text-center mb-4">О нас</h2>
        <p>
            Наше агентство организует незабываемые туры по самым красивым и интересным местам. Мы — команда
            профессионалов, которые увлечены своим делом и стремятся сделать каждый ваш отпуск уникальным. Наши
            гиды обладают глубокими знаниями о местах, которые мы посещаем, и могут рассказать захватывающие истории,
            которые добавят особый колорит к вашему путешествию.
        </p>
        <p>
            Мы верим, что путешествия — это больше, чем просто посещение новых мест. Это возможность
            узнать культуру, ощутить дух и атмосферу региона, попробовать местную кухню и познакомиться с людьми.
            Наши туры разработаны так, чтобы вы могли максимально погрузиться в уникальный опыт, избегая стандартных
            туристических маршрутов и открывая для себя новые горизонты.
        </p>
        <p>
            С момента основания нашей компании мы организовали множество успешных путешествий и получили
            множество положительных отзывов. Мы гордимся тем, что многие наши клиенты возвращаются к нам вновь,
            выбирая нас для своих следующих приключений. Независимо от того, ищете ли вы спокойный отдых или
            насыщенный активный тур, мы готовы предложить вам именно то, что нужно.
        </p>
        <p>
            Свяжитесь с нами, и мы поможем вам выбрать тур, который наилучшим образом соответствует вашим
            интересам и предпочтениям. Мы стремимся сделать ваше путешествие не только комфортным, но и
            запоминающимся. Доверьтесь нам, и вы получите больше, чем просто отпуск — вы получите опыт, который
            запомнится на всю жизнь.
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
