<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас - Блог Калининград</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body class="bg-dark text-light">
    <div class="container">
        <h1 class="mt-5">О нас</h1>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'home' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'post_list' %}">Посты</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'about' %}">О нас</a></li>
            </ul>
        </nav>
 <h2 class="text-center mb-4">О гиде</h2>
        <p>
          Я профессиональный гид с многолетним опытом, предлагающий широкий спектр туристических услуг,
          которые я подстраиваю под ваши индивидуальные потребности. Хотите исследовать местность пешком, на велосипеде, каяке или на автомобиле? Я помогу вам получить незабываемые впечатления.
        </p>
        <p>
          В моем арсенале есть как популярные маршруты, так и скрытые жемчужины, которые я знаю как свои пять пальцев. Благодаря гибкому подходу, я всегда готов адаптировать маршрут под ваши предпочтения, чтобы сделать ваше путешествие уникальным и запоминающимся.
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
